
body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
  text-align: center;
  border: 1px solid seashell;

}

header {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid seashell;
  margin-top: 1px;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  width: auto;
  height: 50px;
}

header nav {
  padding-right: 10px;
  justify-content: flex;
  margin: o auto;

}

nav span {
  padding: 20px 10px;
}

a {
  color: seashell;
}

.content{
  display: flex;
  position:absolute;
  z-index: 1;
}


.content .mission .image-content{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  justify-content: center;

}
